*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0 solid #fff;
}
html,body{
    overflow-x: hidden;
}
.nav-top{
    width: 100%;
    height: 35px;
    /*border: black solid 1px;*/
    margin: 0 auto;
}
.nav-top .content{
    width: 1190px;
    height: 35px;
    background-color: dimgray;
    margin: 0 auto;
}
.nav-top .content .user-info{
    display: inline-block;
}
.nav-top .content .top-menu{
    display: inline-block;
    float: right;
}
.nav-top .content .user-info .user-info-sub{
    line-height: 35px;
    font-size: 25px;
    margin: 0 8px 0 8px;
    /*border: 1px solid black;*/
    display: inline-block;
}
.nav-top .content .top-menu .top-menu-sub-all{
    display: inline-block;
}
.nav-top .content .top-menu .top-menu-sub-all p{
    display: inline-block;
}
.nav-search .search-content{
    width: 1190px;
    height: 100px;
    margin: 0 auto;
}
.nav-search .search-content .logo{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #22222222;
}